.drum-wrapper {
    height: 100vh;
    background-color: black;
    color: white;
    margin-top: 3rem;
    text-align: center;
}

.drum-wrapper h1{
    padding-top: 2.5rem;
    font-size: 1rem;
}

.drum-wrapper h2{
    font-size: .7rem;
}

.drumpad-container {
    margin: auto;
    border: 2px solid white;
    width: 80%;
    height: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
}

.drumpad-container button{
    font: inherit;
    font-size: 2rem;
    border: 2px solid white;
    
}

.drumpad-container button:hover,
.drumpad-container button:active {
    
  background: blue;
  color: white;
  border: 2px solid lime;

}

.button:hover,
.button:active {
  background: blue;
  border-color: blue;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}




